.right
  = link_to("Back to all questions >", questions_path)
  
%h2 New Question
%p Create a new question for everyone to answer.
%p And keep it fun. I don't want to have to monitor these.

= render "questions/form"
