%style
  == #couples_header { overflow: hidden; zoom: 1; padding-bottom: 21px; }
  == .wm_info { float: right; line-height: 18px; }
  == .wm_info img { vertical-align: middle; }

#couples_header
  .wm_info.explanation
    In partnership with 
    = link_to(image_tag("wedding_mapper_logo.png"), "http://www.weddingmapper.com", :target => "blank", :title => "For all of you and your perfect pair's wedding planning needs!")

  %h2 The Perfect Pair Challenge
