%style
  == .discounts li { padding-bottom: 12px; }

%h2 Discounts on Dating Sites
%p
  Personally I prefer to run a free dating site, but there are advantages to the paid dating sites.
%p
  So I figured, if you're going to pay for a dating site, you might as well get a discount on it.
%p
  So here are some discounts on some paid dating sites:

%br
%h3 Discounts
%ul.discounts
  %li
    = link_to("Chemistry.com - Three months for the price of one >", "http://www.kqzyfj.com/click-3952742-10593393", :target => "_blank")
    <img src="http://www.lduhtrp.net/image-3952742-10593393" width="1" height="1" border="0"/>
  %li
    = link_to("Match.com - 20% off >", "http://www.jdoqocy.com/click-3952742-10593380", :target => "_blank")
    <img src="http://www.awltovhc.com/image-3952742-10593380" width="1" height="1" border="0"/>
  %li
    = link_to("PerfectMatch.com - 55% off 3 months plus a free book, \"Finding Your Perfect Match\" >", "http://www.kqzyfj.com/click-3952742-10654361", :target => "_blank")
    <img src="http://www.ftjcfx.com/image-3952742-10654361" width="1" height="1" border="0"/>
  %li
    = link_to("Lavalife.com - 7 days free >", "http://www.jdoqocy.com/click-3952742-10489286", :target => "_blank")
    <img src="http://www.awltovhc.com/image-3952742-10489286" width="1" height="1" border="0"/>

%br
%p
  If there are any other dating sites you like and you want me to try and negotiate a discount let me know.


