:javascript
  window.top.location = "https://www.facebook.com/dialog/oauth?client_id=#{FACEBOOK_APP_ID}&redirect_uri=#{FACEBOOK_CANVAS_PAGE}&scope=email,user_interests,user_birthday,user_education_history,user_photos"
