.highlighted
  %b New! &nbsp; &nbsp;
  = link_to("The Matchmaking Challenge", challenges_path, :style => "text-decoration: underline;")
  and, for those in a relationship, 
  = link_to("The Perfect Pair Challenge", new_couple_path, :style => "text-decoration: underline;")
