- return if user_not_ready

#right_side_bar
  - if @game.present?
    #ads
      <!-- top_banner -->
      <script type='text/javascript'>
      GA_googleFillSlot("top_banner");
      </script>


  - else
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-1657370723332984";
    /* MG Side 160x600 */
    google_ad_slot = "5523328874";
    google_ad_width = 160;
    google_ad_height = 600;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>

.clear
%br
%br
%br
%br

%br
%br
%br
%br
