%h2 Help Me Spread The Word
%p
  It's been great to see so many people meeting on the site, but
  I know it would be way better for people if we had more people on the
  site in your local area.

%p
  Unfortunately I'm just one guy and I don't have a very big advertising budget. I'm already
  spending more than I can afford and I don't want to have to turn the site in to a pay site.

%p
  So I need your help. Maybe you can "Like" the site using one of the buttons below,
  or you can blog about it, or you can tell your friends, or you can post flyers, or create smoke signals...

%p
  Every little bit helps, and hopefully it will help you meet some great people who are nearby.
  I'll be doing everything I can think of to make it happen as well.

%p
  Here are some "Like" buttons for various sites:

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="http://www.thematchinggame.com?r=add" addthis:title="The Matching Game" addthis:description="The greatest site ever. Help match people up, get matched yourself!">
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_stumbleupon"></a>
<a class="addthis_button_digg"></a>
<a class="addthis_button_email"></a>
<a class="addthis_button_compact"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d7fda76493dfb5c"></script>
<!-- AddThis Button END -->


%p
  If you're enjoying the site, please pass the word along.
  Even if you just tell a friend or two it will help a lot.

%p
  Also, don't forget that people who aren't looking to date can have a lot of fun matching people up.

%p
  Ok, that's all I've got. Thanks for the help,
  %br
  Jared

%p
  = link_to("< Back to your account page", account_path)
