%h2 Priority Matching
%p Wanna speed things up? Get more matches more quickly?
%p
  Sign up for Priority Matching,
  %b it doesn't cost a dime,
  it just takes a little bit of time.

%p.explanation
  (this feature is brand new, so let me know if you have any problems with it at all)

= render :partial => "priorities/credits"
