#completed{:style => "display:none;"}
  #saving_results
    %p Saving results...
    %p=image_tag("loading.gif")
    %br
    %p=link_to("If, for some reason, it just keeps spinning above, click here to view your results >", games_path)
