#good_good.right_wrong
  = image_tag("correct.png")
  You're right!
  %br
  They thought it was a good match!

#good_bad.right_wrong
  = image_tag("wrong.png")
  Actually, no...
  %br
  They thought it was a bad match...

#bad_good.right_wrong
  = image_tag("correct.png")
  Actually, no.
  %br
  They thought it was a good match!

#bad_bad.right_wrong
  = image_tag("wrong.png")
  Yea, good call.
  %br
  They thought it was a bad match.
