.highlighted
  %p We've got a leaderboard working on our new Facebook app.
  %p Hopefully we'll get it over here sometime soon, but for now you can check it out on Facebook:
  %p= link_to("The Matching Game Facebook App >", "http://apps.facebook.com/thematchinggame", :target => "_blank")
  %br
  %p
    Or you can add your photo and get matched yourself:
    = link_to("Add A Photo >", new_photo_path)
  %br
  %p
    Or keep
    = link_to("playing the game >", root_path)
