= link_to("Back to priority matching >", priorities_path, :style => "float: right; margin-right: 24px;")

%h2 Tapjoy Credits
%p 10 credits = 5 days of priority matching.
.earn_credits
  %iframe{:src => "http://pub.myofferpal.com/56bedd12d16f496b7aa17dfddcc1d765/showoffers.action?snuid=#{@current_player.user.id}", :frameborder => 0}
