%h3 Possible Matches
- if @matches.empty?
  %p You don't currently have any possible matches.
  %p A possible match is when someone thinks they might be a good match for you.
  %p They are separate from matches suggested by our matchmakers.
