%h2 What Is The Matching Game?
%p
  I built The Matching Game to achieve two goals:
%ol
  %li
    Help people find a great match (or many)
  %li
    Make it as enjoyable as possible along the way

%p
  I love trying to come up with creative ways for people to meet a great match.
  There are a lot of dating sites out there, but I wanted to try and build one that
  was fun and interesting and achieved great results. So far it's great to see
  how well The Matching Game is doing at making matches and introducing people. It's a lot of fun.
%p
  \- Jared
  %br
  Founder and Creator of The Matching Game

%br
%br

%h2 Privacy
%p
  I will never sell your information, and I won't share it without your permission. You can view the Terms of Service
  =link_to("here", tos_about_path)
  and the Privacy Policy
  ="#{link_to("here", privacy_about_path)}.".html_safe
  They're quite a bit more wordy and legaleze than I would prefer, but I can't really take any risks. Regardless, you can be assured
  that I won't do anything with your information that you don't want, and you can always delete your account at any time.

%br
%br

%h2 About Irrational Design
%p
  Irrational Design is a one man show based out of San Francisco. I enjoy building fun and creative products.
%p
  I'm just getting started, so all the products are a little rough around the edges.
%p
  In addition to The Matching Game, I've got a few other products you can check out:
%ul
  %li= link_to("Charity Birthday", "http://www.charitybirthday.com", :target => "_blank")
  %li= link_to("Secret Goals", "http://www.secretgoals.com", :target => "_blank")
%p
  = link_to("Learn more about Irrational Design >", "http://www.irrationaldesign.com", :target => "_blank")


%br
%br
%br
%br

